<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Learn</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css"
	rel="stylesheet">
</head>
<body>

	<div class="container" ng-app="demo">

		<div class="page-header">NG - without service(s)</div>

		<div class="well" ng-controller="HitController">
			<button class="btn btn-sm btn-primary" ng-click="doHit()">Hit-1</button>
			<span class="badge">{{count}}</span>
		</div>
		<div class="well" ng-controller="HitController">
			<button class="btn btn-sm btn-primary" ng-click="doHit()">Hit-2</button>
			<span class="badge">{{count}}</span>
		</div>
		<div class="well" ng-controller="KickController">
			<button class="btn btn-sm btn-primary" ng-click="doKick()">Kck-1</button>
			<span class="badge">{{count}}</span>
		</div>

	</div>



	<script type="text/javascript"
		src="bower_components/angular/angular.js"></script>

	<script type="text/javascript">
		var mod = angular.module('demo', []);
		
		mod.config(function(trainer) {
			trainer.name='Ria';
		});
		
		mod.controller('HitController', function($scope,counterService,trainer) {
			console.log('New HitController instance created...');
			$scope.count = counterService.getCount();
			$scope.doHit = function() {
				counterService.doCount();
				$scope.count = counterService.getCount();
				console.log('im '+trainer.name);
			}
		})

		mod.controller('KickController', function($scope,counterService) {
			console.log('New KickController instance created...');
			$scope.count = counterService.getCount();
			$scope.doKick = function() {
				counterService.doCount();
				$scope.count = counterService.getCount();
			}
		})

		//--------------------------------------------------------

		// --OR---  ( shortcut-1)
		
		var counter={
			count:0,
			doCount:function(){
				this.count++;
			},
			getCount:function(){
				return this.count;
			}
		};
		
		/*  mod.factory('counterService', function() {
			return counter;
		})  */
		
		//  --- OR -- ( shorcut-2 )
		mod.constant('counterService', counter);
		
		mod.constant('trainer',{name:'Nag'});
		
	</script>


</body>
</html>