<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Learn</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.css"
	rel="stylesheet">
</head>
<body>

	<div class="container" ng-app="demo">

		<div class="page-header">NG - without service(s)</div>

		<div class="well" ng-controller="HitController">
			<button class="btn btn-sm btn-primary" ng-click="doHit()">Hit-1</button>
			<span class="badge">{{count}}</span>
		</div>
		<div class="well" ng-controller="HitController">
			<button class="btn btn-sm btn-primary" ng-click="doHit()">Hit-2</button>
			<span class="badge">{{count}}</span>
		</div>
		<div class="well" ng-controller="KickController">
			<button class="btn btn-sm btn-primary" ng-click="doKick()">Kck-1</button>
			<span class="badge">{{count}}</span>
		</div>

	</div>



	<script type="text/javascript"
		src="bower_components/angular/angular.js"></script>

	<script type="text/javascript">
		var mod = angular.module('demo', []);
		
		mod.controller('HitController', function($scope,counterService) {
			console.log('New HitController instance created...');
			$scope.count = counterService.getCount();
			$scope.doHit = function() {
				counterService.doCount();
				$scope.count = counterService.getCount();
			}
		})

		mod.controller('KickController', function($scope,counterService) {
			console.log('New KickController instance created...');
			$scope.count = counterService.getCount();
			$scope.doKick = function() {
				counterService.doCount();
				$scope.count = counterService.getCount();
			}
		})

		//--------------------------------------------------------

		// --OR---  ( shortcut-1)
		
		function Counter(){
			console.log('New Counter instance created..');
			this.count=0;
			this.doCount=function(){
				this.count++;
			}
			this.getCount=function(){
				return this.count;
			}
		}
		
		/* mod.factory('counterService', function() {
			var service=new Counter();
			return service;
		}) */
		
		//  --- OR -- ( shorcut-2 )
		mod.service('counterService', Counter);
		
	</script>


</body>
</html>